name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: kalmlpv
          token: ${{ secrets.METRICS_TOKEN }}
          
          filename: github-metrics-personal.svg
          
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          template: classic
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_languages_sections: most-used
          
          plugin_languages_indepth: yes        
          plugin_languages_analysis_timeout: 15 
          
          repositories_affiliations: owner, collaborator
