name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: kalmlpv
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-personal.svg
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          base: header, activity, community, repositories, metadata
          base_indepth: yes
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 30
          # plugin_languages_ignored: 
          plugin_languages_limit: 8
          repositories_affiliations: owner, collaborator, organization_member
          plugin_languages_other: yes
